@{
    ViewData["Title"] = "Política de Empréstimos";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h4 class=" text-center p-3">
        Bem-vindo ao BookShare!
    </h4>
    <div class="">
        <p>
            Este site é projetado para simplificar o gerenciamento de empréstimos de livros. Abaixo, descrevemos brevemente como ele funciona e os dados que processamos para proporcionar essa funcionalidade.
        </p>
        <h5> <b> Como Funciona o Site</b></h5>
        Nosso site permite que você gerencie o empréstimo de livros de maneira prática. Nele, você pode:
        <br />
        
        <ul>
            <li>Adicionar novos empréstimos: Inclua detalhes sobre o livro emprestado, como o fornecedor,
                recebedor, título do livro, e a data da última atualização.</li>
            <li>Editar o cadastro de um livro: Mantenha as informações de cada empréstimo atualizadas,
                com a opção de editar os dados a qualquer momento.</li>
            <li>Excluir um empréstimo: Remova registros que não são mais necessários.</li>
            <li>Cadastrar um novo empréstimo: Adicione rapidamente novos registros, permitindo fácil acompanhamento dos livros emprestados.</li>

        </ul>
        <p class="">
                                                                            
            <b>Coleta e Uso de Dados</b>
            Para garantir a funcionalidade do sistema de empréstimo de livros, nosso site registra as informações
            essenciais para a identificação e o acompanhamento dos empréstimos. Estes dados são utilizados exclusivamente
            para o propósito de gerenciamento de empréstimos e não são compartilhados com terceiros.
            <br />
            <br />
            Ao utilizar nosso site, você concorda com a coleta e uso dessas informações conforme descrito nesta
            política. Para retornar à página inicial, clique <a asp-area="" asp-controller="Home" asp-action="index">aqui.</a>
        </p>
    </div>

</div>




